<div class="container" data-controller="infos">
  <div class="d-flex justify-content-between suggestion">
      <div class="d-flex flex-row align-items-center">
        <h4>Suggestion for the next month:</h4>
        <%= image_tag("#{@platform_for_logo}.png", width:120, crop: :fill)%>
        <i data-action="click->infos#display"></i>
      </div>
      <div class = "informations" data-infos-target= "i d-none">
        <%= render "platforms", platform: @final_answer %>
      </div>
  </div>

    <h4>Series to watch on the platform:</h4>
    <div class="d-flex flex-row flex-wrap">
      <% @movies_necessary.each do |movie| %>
        <% if movie[:category] == "series" && movie[:platform] == @platform_for_filter %>
            <%= render "cardmovie", movie: movie %>
        <% end %>
      <% end %>
    </div>

    <h4>Movies to watch on the platform:</h4>
      <div class="d-flex flex-row flex-wrap">
        <% @movies_necessary.each do |movie| %>
          <% if movie[:category] == "movie" && movie[:platform] == @platform_for_filter %>
            <%= render "cardmovie", movie: movie %>
          <% end %>
        <% end %>
      </div>

    <h4>Optional series to watch on the platform:</h4>
    <div class="d-flex flex-row flex-wrap">
      <% @movies_optional.each do |movie| %>
        <% if movie[:category] == "series" && movie[:platform] == @platform_for_filter %>
            <%= render "cardmovie", movie: movie %>
        <% end %>
      <% end %>
    </div>

    <h4>Optional movies to watch on the platform:</h4>
      <div class="d-flex flex-row flex-wrap">
        <% @movies_optional.each do |movie| %>
          <% if movie[:category] == "movie" && movie[:platform] == @platform_for_filter %>
            <%= render "cardmovie", movie: movie %>
          <% end %>
        <% end %>
      </div>
</div>
